.main_container {
    flex: 1;
    padding: 3rem 0;

    background: linear-gradient(
        0deg,
        var(--neutral--clr-600),
        var(--neutral--clr-800),
        var(--neutral--clr-800)
    );

    z-index: -1;
}

.endless_mode span {
    color: var(--neutral--clr-800);
    -webkit-text-stroke: 0.03em var(--neutral--clr-100);
    font-weight: bold;
}

.main_description {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 70%;

    gap: 0.5rem;
    text-align: center;

    margin-bottom: 3rem;
}

.preset_modes,
.endless_mode {
    width: 80%;
}

.mode_row {
    justify-content: space-evenly;

    height: 13rem;
}

.mode_card {
    cursor: pointer;

    position: relative;

    /* border: 1px solid var(--neutral--clr-100); */
    padding: 1rem;

    width: 7rem;
    height: 7rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mode_card svg {
    /* font-size: 3rem; */
    height: 70%;
    width: 70%;

    z-index: 1;
}

.mode_card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    background: var(--tertiary--clr-200);
    height: 100%;
    width: 100%;
    animation: morph1 30s infinite ease-in-out;
    z-index: 0;
}

.mode_card::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 5%;

    background: var(--neutral--clr-100);
    height: 95%;
    width: 95%;
    animation: morph2 30s infinite ease-in-out;
    z-index: 0;
}

@keyframes morph1 {
    from {
        /* border-radius: 50% 50% 60% 40% / 40% 40% 60% 50%; */
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        transform: rotate(0deg);
    }
    24% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    60% {
        /* border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%; */
        border-radius: 50% 50% 60% 40% / 40% 40% 60% 50%;
    }
    to {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        transform: rotate(360deg);
    }
}

@keyframes morph2 {
    from {
        /* border-radius: 50% 50% 60% 40% / 40% 40% 60% 50%; */
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
        transform: rotate(0deg);
    }
    34% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
    78% {
        /* border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%; */
        border-radius: 50% 50% 60% 40% / 40% 40% 60% 50%;
    }
    to {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
        transform: rotate(360deg);
    }
}

@keyframes morph3 {
    from {
        border-radius: 50% 50% 60% 40% / 40% 40% 60% 50%;
        transform: rotate(0deg);
    }
    24% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    48% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
    to {
        border-radius: 50% 50% 60% 40% / 40% 40% 60% 50%;
        transform: rotate(360deg);
    }
}

.card_color_tertiary {
    color: var(--tertiary--clr-400);
}
.card_color_tertiary::before {
    background-color: var(--tertiary--clr-200);
}

.card_color_secondary {
    color: var(--secondary--clr-400);
}
.card_color_secondary::before {
    background-color: var(--secondary--clr-200);
    animation: morph2 25s infinite ease-in-out;
}
.card_color_secondary::after {
    animation: morph3 20s infinite ease-in-out;
}

.card_color_primary {
    color: var(--primary--clr-600);
}
.card_color_primary::before {
    background-color: var(--primary--clr-200);
    animation: morph3 20s infinite ease-in-out;
}
.card_color_primary::after {
    animation: morph1 30s infinite ease-in-out;
}

.endless_mode .mode {
    height: 13rem;
    justify-content: center;
    align-items: center;
}

.endless_mode .mode_card {
    color: var(--neutral--clr-100);
    height: 10rem;
    width: 10rem;
}
.endless_mode .mode_card::before {
    background: var(--neutral--clr-800);
    box-shadow: 0 0 2rem 0.01rem hsla(280, 23%, 95%, 0.3);
}
.endless_mode .mode_card::after {
    background: var(--neutral--clr-800);
}

.ending {
    height: 60vh;
    background: linear-gradient(
        0deg,
        var(--tertiary--clr-400),
        var(--neutral--clr-600)
    );
}
