.layout {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.outlet {
    min-height: 30vh;
    flex: 1;
}

.header {
    position: sticky;
    top: 0;
    box-shadow: 0 1px 10px 0 var(--primary--clr-600);

    min-height: 10vh;
    width: 100%;

    background-color: var(--primary--clr-600);
    color: var(--neutral--clr-800);

    padding: 0 3rem;
    gap: 3rem;
    z-index: 99;

    justify-content: center;
    align-items: stretch;
}

.header__section {
    width: calc(33.3% - 3rem);
    justify-content: center;
    align-items: center;
}

.header h1.title {
    font-size: calc(var(--primary--font-size) * 0.8);
    color: var(--neutral--clr-800);
}

.header .content {
    gap: 2em;
    justify-content: center;
}

.header a,
.account_card {
    text-decoration: none;
    color: var(--neutral--clr-800);
    font-family: var(--secondary--font-family);
    font-weight: bold;
}

.header a:hover {
    animation: navButtonAnimation 2s infinite alternate ease-in-out;
}
.header a:active {
    transition: 0.1s;
    transform: scale(0.9);
    animation: 0;
}

@keyframes navButtonAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.header_wave_decorator {
    aspect-ratio: 350/21;
    display: block;
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../svgs/wave_nav.svg");
}

.wave_spacer {
    aspect-ratio: 900/200;
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wave_svg_footer {
    background-image: url("../svgs/wave_footer3.svg");
}

.footer {
    position: relative;
    min-height: 20vh;
    width: 100%;
    overflow: hidden;

    background-color: var(--primary--clr-600);
    color: var(--neutral--clr-100);

    padding: 0 0 1rem 0;
    gap: 2rem;
}

.footer h2.footer_title {
    font-size: calc(var(--primary--font-size) * 1.5);
    padding-left: 1rem;
    align-self: flex-start;
}

.footer h2.title {
    align-self: center;
}

.footer .content {
    flex: 1;
    z-index: 1;
    width: 50%;

    align-items: flex-end;
    gap: 2em;
}

.footer :global(.column) {
    flex: 1;
    color: var(--neutral--clr-100);

    gap: 0.5rem;
}

.card {
    flex: 1;
    color: var(--neutral--clr-100);

    gap: 5rem;
    align-items: flex-start;
}

.card_styled {
    color: var(--neutral--clr-100);
    background-color: var(--neutral--clr-800);
    box-shadow: 0 0em 0 var(--neutral--clr-100),
        0 0 0.4em var(--neutral--clr-100);
    border-radius: 1em;
    padding: 0.6em 1rem;
    outline: 0.2em solid var(--neutral--clr-100);
}

.card_styled h3 {
    font-size: calc(var(--primary--font-size) * 0.8);
}

.card :global(.row) {
    justify-content: flex-end;

    gap: 1rem;
}

.icon_container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--neutral--clr-800);
    border-radius: 15%;
    padding: 0.3em;

    height: 2.2em;
    width: 2.2em;
    transition: 0.9s ease-in-out;
}

.icon_container > * {
    min-height: 100%;
    min-width: 100%;
    aspect-ratio: 1;
    color: var(--neutral--clr-100);
    fill: var(--neutral--clr-100);
}

.card .icon_container {
    background-color: var(--neutral--clr-100);
    padding: 0.2em;
}

/* #id_socials {
    transform: translate(0, 0.7em);
} */

#id_socials .title {
    text-shadow: 0 0 0.2em var(--neutral--clr-100);
    animation: glow-text 3s infinite alternate ease-in-out;
}

@keyframes glow-text {
    from {
        text-shadow: 0 0 0.2em var(--neutral--clr-100);
    }
    to {
        text-shadow: 0 0 0.05em var(--neutral--clr-100);
    }
}

#id_socials .icon_container {
    animation: glow 3s infinite alternate ease-in-out;
}

@keyframes glow {
    from {
        box-shadow: 0 0 1em var(--neutral--clr-100);
    }
    to {
        box-shadow: 0 0 0.3em var(--neutral--clr-100);
    }
}

#id_socials :global(.row) {
    justify-content: space-evenly;
}

#id_socials .icon_container:hover {
    transform: rotate(360deg) scale(1.3);
}

.icon_container:active,
#id_socials .icon_container:active {
    transition: 0.1s;
    transform: scale(0.85);
}

.card p {
    display: inline;
    color: var(--neutral--clr-100);
}

.license p {
    text-decoration: none;
    /* color: var(--neutral--clr-800); */
    font-family: var(--secondary--font-family);
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.08em;
}

.license {
    width: 50%;
    opacity: 0.8;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    gap: 2rem;

    font-size: calc(var(--secondary--font-size) * 0.75);
    font-weight: lighter;
    transition: 0.3s;
}

.license:hover {
    opacity: 1;
    transform: scale(1.2);
}

.blob2 {
    flex: 0;
    position: absolute;
    bottom: -30%;
    left: -10%;
    width: 30%;
    aspect-ratio: 1/1;
    background-color: var(--neutral--clr-800);
    border-radius: 50% 70% 35% 65% / 40% 60% 20% 40%;
    animation: morph 10s infinite alternate ease,
        spin 30s infinite alternate ease;
}
.blob3 {
    flex: 0;
    position: absolute;
    bottom: -30%;
    left: -10%;
    width: 29%;
    aspect-ratio: 1/1;
    background-color: var(--neutral--clr-800);
    opacity: 0.8;
    border-radius: 50% 70% 35% 65% / 40% 60% 20% 40%;
    animation: morph 15s infinite alternate ease,
        spin 20s infinite alternate ease;
}

.blob1 {
    flex: 0;
    position: absolute;
    bottom: 0;
    aspect-ratio: 1/1;
    width: 10%;
    background-color: var(--neutral--clr-800);
    border-radius: 50% 70% 35% 65% / 40% 60% 20% 40%;
    animation: morph 10s infinite alternate ease,
        spin 30s infinite alternate ease,
        move 10s infinite alternate ease-in-out;
    transition: 0.2s ease-out;
}

.blob1:hover {
    filter: blur(0.4em);
    opacity: 0.2;
}

.blob1::after {
    content: "";
    aspect-ratio: 1/1;
    width: 50%;
    background-color: var(--neutral--clr-100);
    border-radius: 50% 70% 35% 65% / 40% 60% 20% 40%;
    animation: morph 6s infinite alternate ease, spin 5s infinite alternate ease,
        move 5s infinite alternate ease-in-out;
    position: absolute;
    mix-blend-mode: soft-light;
}

@keyframes move {
    from {
        transform: translate(-500%, 0%);
    }
    to {
        transform: translate(600%, -110%);
    }
}

@keyframes spin {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(-300deg);
    }
}

@keyframes morph {
    from {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    34% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    to {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
}

/* --------------------------------- Account -------------------------------- */
.account_card {
    width: 100%;

    display: flex;
    flex-direction: row;

    justify-content: flex-end;
    align-items: center;

    gap: 1rem;
}

.account_image {
    height: calc(var(--secondary--font-size) * 2);
    aspect-ratio: 1;

    background-image: url(../images/profile_pic.jpg);
    background-size: cover;

    border-radius: 50%;
    border: 2px solid var(--neutral--clr-800);
    box-shadow: 0 0 0.2em var(--neutral--clr-800);
}

.account_name {
    text-align: center;
}
