*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Dosis";
    font-weight: bold;
    src: local("dosis"), url(./fonts/dosis/Dosis-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "Dosis";
    font-weight: normal;
    src: local("dosis"), url(./fonts/dosis/Dosis-Medium.ttf) format("truetype");
}
@font-face {
    font-family: "Dosis";
    font-weight: lighter;
    src: local("dosis"), url(./fonts/dosis/Dosis-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Frederick";
    font-weight: lighter;
    src: local("frederick"),
        url(./fonts/frederick/FrederickSans.otf) format("opentype");
}

:root {
    /* Colors */
    --neutral--clr-900: #0e0e0e;
    --neutral--clr-800: #1f2731;
    --neutral--clr-800-op50: hsla(213, 23%, 16%, 0.5);
    --neutral--clr-600: #243b4b;
    --neutral--clr-600-op50: hsla(205, 35%, 22%, 0.5);
    --neutral--clr-100: #f3eff5;
    --neutral--clr-100-op80: hsla(280, 23%, 95%, 0.8);

    --primary--clr-600: #14cc98;
    --primary--clr-200: #99f5db;

    --secondary--clr-400: #7c48c2;
    --secondary--clr-200: #d0bee9;

    --tertiary--clr-400: #e56399;
    --tertiary--clr-200: #f3b5ce;

    /* Fonts */
    --primary--font-family: "Frederick";
    --primary--font-size: 3rem;

    --secondary--font-family: "Dosis";
    --secondary--font-size: 1.1rem;
    --secondary--line-height: 1.3em;

    /* Font REM Value */
    font-size: 18px;

    /* Header */
    --header--height: 10vh;
    --header--animation-duration: 0.5s;
}

body {
    background-color: var(--neutral--clr-800);
    font-family: var(--secondary--font-family);
    font-size: var(--secondary--font-size);
    letter-spacing: 0.03em;
    color: var(--neutral--clr-100);

    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: -1;
}

body::-webkit-scrollbar-thumb {
    background: var(--neutral--clr-600);
    border-radius: 0.1em;
}

body::-webkit-scrollbar-track {
    box-shadow: 0 0 5px var(--neutral--clr-800);
    border-radius: 0.1em;
    background-color: var(--neutral--clr-800);
}
body::-webkit-scrollbar {
    width: 0.4em;
    max-height: 10px;
}

:global(#root) {
    min-height: 100vh;
}

h1 {
    display: block;
    font-family: var(--primary--font-family);
    font-size: var(--primary--font-size);
    color: var(--neutral--clr-100);
    font-weight: normal;
}

h2 {
    display: block;
    font-family: var(--primary--font-family);
    font-size: var(--primary--font-size);
    color: var(--neutral--clr-800);
    -webkit-text-stroke: 0.025em var(--neutral--clr-100);
    font-weight: normal;
}

h3 {
    display: block;
    font-family: var(--secondary--font-family);
    font-size: var(--primary--font-size);
    /* Adjust to match primary font header size */
    /* Dosis font is natively larger than Frederick */
    line-height: 0.9em;
    color: var(--neutral--clr-100);
    font-weight: bold;
}

h4 {
    display: block;
    font-family: var(--secondary--font-family);
    font-size: var(--primary--font-size);
    /* Adjust to match primary font header size */
    /* Dosis font is natively larger than Frederick */
    line-height: 1em;
    /* -webkit-text-stroke: 0.05em var(--neutral--clr-800); */
    color: var(--neutral--clr-100);
    font-weight: bold;
}

:global(.row) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
}

:global(.column) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
}

:global(.flip) {
    transform: rotate(180deg);
}

p span:global(.bold) {
    color: var(--tertiary--clr-400);
    font-weight: bold;
}

textarea {
    resize: none;
}

::-moz-selection {
    color: var(--neutral--clr-100);
    background: var(--tertiary--clr-400);
}

::selection {
    color: var(--neutral--clr-100);
    background: var(--tertiary--clr-400);
}

::placeholder {
    color: var(--neutral--clr-800);
    opacity: 0.5;
}
